* {
    background-color: darkgray;
    margin: auto;
}

body {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.linkBox {
    width: 60%;
    /* height: 400px; */
    margin-top: 50px;
}

#wrapper {
    max-width: 800px;
    /* min-width: 700px; */
    ;
    max-height: 2000px;
    /* background-color: darkgreen; */
}

img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}